<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="title-page">Login</h2>
    <form class="form login-form">
      <div class="login-group">
        <label for="username-login">Username:</label>
        <input
          class="form-input"
          type="text"
          id="username-login"
          minlength="4"
          required
        />
      </div>
      <div class="login-group">
        <label for="password-login">Password:</label>
        <input
          class="form-input"
          type="password"
          id="password-login"
          minlength="8"
          required
        />
      </div>
      <div class="login-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/login2.js"></script>