<<<<<<< HEAD
<div class="title-container">
     <main class="container min-vh-100 bgimg">
        <h1 id="title">
            Movie Time
        </h1>
    
        </main>
</div>
=======
<div class="row justify-space-between-md">
  <div class="message-card">
    <h5>Please login first in order to proceed.</h5>
  </div>
</div>
<div class="curtain"></div>

<div class="title-container">
    <main class="container min-vh-100 bgimg">
        <h1 id="title">
                Movie Time
        </h1>
    </main>
</div>
>>>>>>> 8a8e3bc (styling for homepage)
