<div class="title-container">
    <div>
        <h1 id="title">
            Movie Time
        </h1>
    </div>
    <div class="bgimg"></div>
    <img src="/public/images/pexels-tima-miroshnichenko-7991579.jpg" alt="movie theater"/>
</div>