<div class="timeline justify-content-center">
  <div class="text-center">
    <h2>See movie titles by year or by year and genre.</h2>
  </div>
  <form class="form timeline-form">
    <div class="dropdown">
      <label for="year">Year</label>
      <select name="year" id="year" class="form-select">
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>

      </select>
    </div>
    <label for="genre">Genre</label>
    <select name="genre" id="genre" class="form-select">
      <option value="">--</option>
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Animation">Animation</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime">Crime</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family">Family</option>
      <option value="Fantasy">Fantasy</option>
      <option value="History">History</option>
      <option value="Horror">Horror</option>
      <option value="Music">Music</option>
      <option value="Mystery">Mystery</option>
      <option value="Romance">Romance</option>
      <option value="Science-fiction">Science Fiction</option>
      <option value="Thriller">Thriller</option>
      <option value="War">War</option>
      <option value="Western">Western</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
  <div id="timeline"></div>
</div>
<script
  src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"
></script>
<script src="/js/timeline.js"></script>