<!-- Vertically centered modal -->
{{!-- <div class="modal-dialog modal-dialog-centered">
     <div class="modal-body">
        <h1>Please Login or signUp</h1>
      </div>
</div> --}}


<h1 class="display-1 text-center">Favorite Movies</h1>
{{#each savedMovies}}
<div  class="card container overflow-hidden col" style="width: 18rem;">
  <img src="" class="card-img-top" alt="movie poster">
  <div class="card-body">
    <p class="card-text">{{this.title}}</p>
  </div>
</div>
{{/each}}

<script src=""></script>