#title {
    text-align: center;
    font-family: Diplomata, Bungee Spice, serif;
    font-size: 56px;
}

.bgimg {
    background-image: url('/images/pexels-tima-miroshnichenko-7991579.jpg');
    height: 100%;
    width: auto;
    position: relative;
    opacity: 0.50;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
