#title {
    text-align: center;
    font-family: Diplomata, Bungee Spice, serif;
    font-size: 56px;
}

.bgimg {
    height: 100%;
    position: relative;
    opacity: 0.50;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
